a,body,canvas,center,div,h1,h2,h3,h4,h5,h6,html,i,img,p,span{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
body{
  line-height:1
}
a{
  text-decoration:none
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:linear-gradient(#e2e6ef);
  background:url(https://images.unsplash.com/photo-1613427924240-1635577f2c32?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
  background-size:cover
}
.main__container{
  width:414px;
  height:100vh
}
.main__inner{
  height:100%
}
.main__btn-container{
  background:#32383d;
  background:-moz-linear-gradient(180deg,rgba(50,56,61,1) 0,rgba(50,56,61,1) 100%);
  background:-webkit-linear-gradient(180deg,rgba(50,56,61,1) 0,rgba(50,56,61,1) 100%);
  background:linear-gradient(180deg,rgb(72 78 82) 0,rgba(50,56,61,1) 100%);
  border-radius:40px 40px 0 0;
  flex:auto;
  max-width:414px;
  justify-self:stretch;
  padding:36px;
  padding-top:64px;
  margin-top:64px;
  box-sizing:border-box;
  height:500px
}
h1,p{
  color:#fff;
  font-family:Roboto,sans-serif
}
h1{
  font-size:16px;
  font-weight:700
}
p{
  font-size:14px
}
.btn{
  border:none;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  font-size:22px;
  font-weight:700;
  font-family:Roboto,sans-serif;
  height:50px;
  margin-top:24px;
  transition:.2s ease-in;
  outline:0
}
.social-media__container{
  position:absolute;
  top:-30px;
  left:0;
  width:100%
}
.social-media__wrapper{
  width:248px;
  margin:0 36px
}
.image__container{
  margin-top:40px;
  margin-bottom:20px
}
.social-media{
  color:#fff;
  width:32px;
  height:32px;
  font-size:32px;
  cursor:pointer;
  transition:.2s ease-in
}
.social-media--github{
  background-color:#0d1216
}
.social-media--github:hover{
  background-color:#05080b
}
.social-media--github:active{
  background-color:#05080b
}
.social-media--instagram{
  background-color:#c13584
}
.social-media--instagram:hover{
  background-color:#a8246f
}
.social-media--instagram:active{
  background-color:#a8246f
}
.social-media--linkedin{
  background-color:#0084bf
}
.social-media--linkedin:hover{
  background-color:#006a99
}
.social-media--linkedin:active{
  background-color:#006a99
}
.google{
  background:#00832d
}
.google-2{
  background:#00ac47
}
.blue{
  background:#01adef
}
.blue-2{
  background:#015e89
}
.htb-1{
  background:#141d2b
}
.htb-2{
  background:#1b345c
}
.pushable{
  border-radius:12px;
  border:none;
  padding:0;
  cursor:pointer;
  outline-offset:4px
}
.front{
  display:block;
  position:relative;
  padding:12px 42px;
  border-radius:12px;
  font-size:1.25rem;
  color:#fff;
  will-change:transform;
  transform:translateY(-7px);
  transition:transform .6s cubic-bezier(.3,.7,.4,1)
}
.pushable:active .front{
  transform:translateY(-2px)
}
.pushable:hover{
  filter:brightness(110%)
}
.pushable:hover .front{
  transform:translateY(-6px);
  transition:transform 250ms cubic-bezier(.3,.7,.4,1.5)
}
.pushable:focus:not(:focus-visible){
  outline:0
}
button{
  padding:5px;
  width:calc(75% - 10px);
  height:auto
}
#canvas1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
